* {
	margin: 0;
	padding: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none; 
}

html, body {
	height: 100%;
}

.clr {
	clear: both;
}

header {
	position: absolute;
	left: 0;
	right: 0;
	height: 50px;
}

header div#total-price {
	height: 50px;
	line-height: 55px;
	font-size: 18px;
	width: 100px;
	text-indent: 10px;
	font-family: Arial;
	color: #d5d5d5;
	float: left;
}

header div#full-check {
	width: 30px;
	height: 30px;
	float: right;
	margin: 10px 20px 0 0;
	background-image: url(../img/forward-arrow.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 20px;
}

center {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	/*background: #f9f9f9;*/
	margin-top: 50px;
	overflow: hidden;
}

center #products {
	overflow: hidden;
	width: 60px;
	position: absolute;
	height: 350px;
	bottom: 0;
	border-right: 1px solid #e9e9e9; /* f4f4f4 */
	border-top: 1px solid #e9e9e9;
	border-top-right-radius: 5px;
}

center #products #product-list {
	width: 61px;
	padding-right: 20px;
	overflow-y: scroll;
	list-style: none;
	position: absolute;
	top: 0;
	bottom: 0;
}

center #products #product-list li {
	border: 1px solid #aaa;
	width: 48px;
	height: 48px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 50%;
	font-size: 10px;
	line-height: 50px;
	text-align: center;
}

center #products #product-list li.add-product {
	width: 28px;
	height: 28px;
	line-height: 30px;
	font-size: 15px;
}

center #people {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin-left: 61px;
}

center #people #accept-add-person {
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	border-radius: 50%;
	position: absolute;
	border: 1px solid #d9d9d9;
	background: #fff;
	display: none;
}

center #people #accept-add-person:active {
	background: #f4f4f4;
}

#popup-box {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 100;
	background-color: #f8f8f8;
	display: none;
	overflow: hidden;
}

#popup-box .popup {
	width: 250px;
	height: 150px;
	background: #fff;
	position: absolute;
	transition: all .4s ease-in-out;
	box-shadow: 0 0 1px 1px rgba(0, 0, 0, .08);
	border-radius: 3px;
}

#popup-box .popup .btn-save {
	background: #ff7777;
	width: 40px;
	height: 30px;
	color: #fff;
	font-family: Arial;
	position: absolute;
	right: 15px;
	bottom: 15px;
	text-align: center;
	line-height: 30px;
	border-radius: 3px;
}

#popup-box .popup .btn-save:active {
	background: #ee5555;
}

#popup-box #popup-add-product {
	margin-top: 150px;
	-webkit-transform: translate3d(-250px, 0, 0);
}

#popup-box .popup input {
	width: 190px;
	height: 25px;
	padding: 5px 5px 0 5px;
	margin-top: 10px;
	margin-left: 30px;
	border: none;
	border-bottom: 1px solid #f9e3e3;
	background: #f9f9f9;
	transition: all .2s ease-in-out;
}

#popup-box .popup input::-webkit-input-placeholder {color:#a5a5a5;}
#popup-box .popup input::-moz-placeholder          {color:#a5a5a5;}/* Firefox 19+ */
#popup-box .popup input:-moz-placeholder           {color:#a5a5a5;}/* Firefox 18- */
#popup-box .popup input:-ms-input-placeholder      {color:#a5a5a5;}

#popup-box .popup input[name="name"] {
	margin-top: 20px;	
}

#popup-box .popup input:focus {
	outline: none;
	background: #fff;
	border-bottom: 1px solid #ff7777;
}

#popup-box #popup-add-person {
	margin-top: 150px;
	height: 110px;
	-webkit-transform: translate3d(250px, 0, 0);
	right: 0;
}