* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

.clr {
	clear: both;
}

header {
	left: 0;
	right: 0;
	height: 200px;
	position: absolute;
	box-shadow: 0 0 8px 3px rgba(0, 0, 0, .1);
}

header h3 {
	text-align: center;
	line-height: 170px;
	font-size: 24px;
	font-family: monospace;
	color: #ff7777;
}

header h3:before {
	content: "рублей";
	position: absolute;
	font-size: 13px;
	margin: 25px 7px;
}

header ul {
	list-style: none;
	position: absolute;
	display: table;
	table-layout: fixed;
	bottom: 0;
	width: 100%;
	height: 40px;
}

header ul li {
	display: table-cell;
	text-align: center;
	line-height: 40px;
}

header ul li a {
	display: block;
	text-decoration: none;
	color: #e3e3e3;
	margin: 0 20px 5px 20px;
	background: #fff;
	transition: border-color .2s ease-in-out;
	text-indent: 100%;
	overflow: hidden;
}

header ul li a:hover {
	margin: 0 10px 0px 10px;
	border-bottom: 5px solid #ff7777;
}

header ul li a.products-icon {
	background-image: url("../res/products-icon-2.png");
	background-repeat: no-repeat;
	background-size: 24px;
	background-position: center;
}

header ul li a.products-icon:hover {
	background-image: url("../res/products-icon-active-2.png");
}

header ul li a.people-icon {
	background-image: url("../res/people-icon-1.png");
	background-repeat: no-repeat;
	background-size: 24px;
	background-position: center;
}

header ul li a.people-icon:hover {
	background-image: url("../res/people-icon-active-1.png");
}

header ul li a.cost-icon {
	background-image: url("../res/cost-icon-1.png");
	background-repeat: no-repeat;
	background-size: 24px;
	background-position: center;
}

header ul li a.cost-icon:hover {
	background-image: url("../res/cost-icon-active-1.png");
}

#container {
	width: 100%;
	position: absolute;
	background: #f9f9f9;
}

#container #pages {

}